.tabela-container {
  margin-top: 20px;
}

.tabela-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.scrollable-table {
  max-height: 400px;
  overflow-y: auto;
}

.scrollable-table::-webkit-scrollbar {
  width: 8px;
}

.scrollable-table::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollable-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
p{
  font-size: 15px;
}
